* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

audio {
    outline: none;
    display: block;
    height: 35px;
    width: 150px;
}

.song {
    border: solid 2px blue;
    background-color: rgba(0, 0, 255, 0.363);
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
}
